@{
    ViewData["Title"] = "Users Info";
}

<style>
     table {
       border-spacing: 0 15px;
       align-self: center;
     }
     th {
       background-color: #4287f5;
       color: white;
     }
     th,
     td {
       width: 850px;
       text-align: center;
       border: 1px solid black;
       padding: 5px;
     }
     h2 {
       color: #4287f5;
     }
   </style>
 
<div class="text-center">
    <h1 class="display-4">Welcome to Users Info page</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<div class="text-center">
   <h2 class="display-4" style="text-align: left">Пользователи проекта</h2>
   <br>
       <table>
           <tr>
               <td>Идентификатор</td>              
               <td>Дата посещения</td>
               <td>UserAgent</td>
           </tr>
           @foreach (var user in Model)
               {
               <tr>
                   <td>@user.Id</td>
                   <td>@user.Date</td>
                   <td>@user.UserAgent</td>
               </tr>
           }
       </table>
</div>